* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #004241;
    --second-color: #bcb71b;
    --third-color: #056839;
    --white: #fff;
    font-size: 62.5%;
}

header {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

#robbu-whatsapp-button {
    z-index: 9999;
}

.container {
    width: 70vw;
    margin: 0 auto;
}

.contact {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.contact-details li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: .5rem;
    color: var(--white);
}

.contact-details li i {
    font-size: 1.2rem;
}

.contact-details li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white);
}

.contact-details li a:hover {
    text-decoration: underline;
}

#button {
    width: 5rem;
    height: 5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    bottom: -3rem;
    right: 10rem;
    transition: all .5s ease;
    opacity: 0;
}

#button.show {
    opacity: 1;
    bottom: 3rem;
}

#button:hover {
    background-color: var(--third-color);
}

#button i {
    font-size: 1.6rem;
}









.nav-bar {
    width: 100%;
    background-color: var(--third-color);
    padding: .5rem;
}

.logo img {
    width: 14rem;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 3rem;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    transition: .5s;
}

.menu-list li a:hover {
    color: var(--second-color);
}








.nav-bar-ham {
    width: 100%;
    position: relative;
    background-color: var(--third-color);
    display: none;
}

.nav-bar-ham.active {
    display: block;
    animation: animateMenu .5s ease;
}

.nav-bar-ham ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar-ham .header-nav {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.menu-hamb {
    width: 5rem;
    height: 5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.menu-hamb i {
    font-size: 1.6rem;
    transition: .5s;
}

.menu-hamb:hover i {
    color: var(--second-color);
}

@keyframes animateMenu {
    from {
        opacity: 0;
        top: -10rem;
    } to {
        opacity: 1;
        top: 0;
    }
}



@media screen and (max-width: 1060px){
	/* Estilizações CSS */
    .nav-bar .container {
        width: 90vw;
    }
    
    .menu-list {
        display: none;
    }

    .menu-hamb {
        display: flex;
    }
}





.slider{
    width: 100%;
    height: 60vh;
    padding: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: fit-content;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.slider .list img{
    width: 100vw;
}

.slider .buttons{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.slider .buttons button:hover {
    background-color: var(--third-color);
}




@media screen and (max-width: 975px) {
    .slider {
        height: 50vh;
    }
}


@media screen and (max-width: 815px) {
    .slider {
        height: 40vh;
    }
}

@media screen and (max-width: 650px) {
    .slider {
        height: 30vh;
    }
}



.study-grade {
    padding: 5rem 0;
    background-image: url('../assets/sectionbg1.png');
    background-size: cover;
    height: fit-content;
}

.study-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.study-header i {
    font-size: 6rem;
    color: var(--third-color);
    margin-bottom: 1.5rem;
}

.study-header h1 {
    font-size: 5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.study-header p {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: light;
}

.study-grade-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 5rem 0;
}

.study-grade-itens a {
    text-decoration: none;
}

.study-grade-itens a:hover {
    height: 110%;
}

.study-item {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease-out;
    background-color: var(--third-color);
}

.study-item img {
    width: 100%;
    transition: all .5s;
    opacity: 1;
}


.study-item:hover img {
    opacity: .6;
}


.study-item h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: var(--third-color);
    color: var(--white);
    padding: 1.8rem 0;
}




@media screen and (max-width: 730px) {
    .study-grade-itens {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }

    .study-item {
        justify-content: center;
        align-items: center;
    }
}






.diferences {
    width: 100%;
    height: fit-content;
    background-image: url('../assets/sectionbg2.png');
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.diferences-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.diferences-header i {
    font-size: 6rem;
    color: var(--third-color);
    margin-bottom: 3rem;
}

.diferences-header h1 {
    font-size: 5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.diferences-header p {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: light;
}

.diferences-itens {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.diference-item {
    width: 25%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    color: var(--white);
    justify-content: space-between;
    border-radius: 2rem;
}

.diference-item img {
    width: 5rem;
    margin: 2rem 0;
}

.diference-item h2 {
    font-size: 3rem;
}

.diference-item p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}




@media screen and (max-width: 1200px) {
    .diferences-itens {
        flex-wrap: wrap;
    }

    .diference-item {
        width: 45%;
    }
}

@media screen and (max-width: 667px) {
    .diferences-itens {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diference-item {
        width: 100%;
    }
}





.map {
    width: 100%;
    height: fit-content;
    padding: 3rem 0;
    margin-bottom: 3rem;
    text-align: center;
}

.map iframe {
    width: 100%;
    height: 40rem;
}

.map h1 {
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 3rem;
}










.contact-us {
    width: 100%;
    height: fit-content;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/sectionbg4-complete.png');
    background-size: cover;
}

.contact-us .container {
    display: flex;
    justify-content: space-between;
}

.contact-us h1 {
    font-size: 5rem;
    color: var(--primary-color);
    margin: 3rem 0;
}

.form {
    width: 50%;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    color: var(--third-color);
    border: .2rem solid var(--third-color);
    font-size: 1.6rem;
    border-radius: .5rem;
    outline: none;
}

.form form textarea {
    padding: 1rem;
    resize: none;
    font-size: 1.6rem;
    color: var(--third-color);
    border: .2rem solid var(--third-color);
    outline: none;
}

.form form button {
    background-color: var(--third-color);
    color: white;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: .5rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.form form button:hover {
    background-color: #004241;
}

.adress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.adress-icon {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 50%;
    border: .5rem solid var(--third-color);
    text-align: center;
}

.adress-icon i {
    font-size: 3.2rem;
    display: block;
    color: var(--third-color);
}

.adress-phone-text p {
    font-size: 1.6rem;
    color: var(--third-color);
}

.phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.adress-phone-icon {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 50%;
    border: .5rem solid var(--third-color);
    text-align: center;
}

.adress-phone-icon i {
    font-size: 3.2rem;
    display: block;
    color: var(--third-color);
}

.adress-phone-text, .adress-text p {
    font-size: 1.6rem;
    color: var(--third-color);
}



@media screen and (max-width: 1200px) {
    .contact-us .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        width: 100%;
    }
}





.footer-banner {
    width: 100%;
}

.footer-banner img {
    width: 100%;
    height: 100%;
}










footer {
    padding: 3rem;
    background-color: var(--third-color);
    color: var(--white);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer-text p {
    font-size: 1.6rem;
}

.social-medias {
    display: flex;
    gap: 2rem;
}

.social-medias a {
    text-decoration: none;
    color: var(--white);
}

.social-medias a i {
    font-size: 2rem;
    transition: .5s;
}

.social-medias a:hover i {
    color: var(--primary-color);
}

@media screen and (max-width: 880px) {
    footer .container {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}