* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #004241;
    --second-color: #bcb71b;
    --third-color: #056839;
    --white: #fff;
    font-size: 62.5%;
}

header {
    width: 100%;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.contact {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.contact-details li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: .5rem;
    color: var(--white);
}

.contact-details li i {
    font-size: 1.2rem;
}

.contact-details li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white);
}

.contact-details li a:hover {
    text-decoration: underline;
}








.nav-bar {
    width: 100%;
    background-color: var(--third-color);
    padding: .5rem;
}

.logo img {
    width: 14rem;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 3rem;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    transition: .5s;
}

.menu-list li a:hover {
    color: var(--second-color);
}







#button {
    width: 5rem;
    height: 5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    bottom: -3rem;
    right: 10rem;
    transition: all .5s ease;
    opacity: 0;
}

#button.show {
    opacity: 1;
    bottom: 3rem;
}

#button:hover {
    background-color: var(--third-color);
}

#button i {
    font-size: 1.6rem;
}









.footer-banner {
    width: 100%;
}

.footer-banner img {
    width: 100%;
    height: 100%;
}


.header {
    width: 100%;
    background-image: url('../assets/sectionbg.jpg');
    background-size: cover;
    padding: 10rem 0;
    text-align: center;
}

.header h3 {
    font-size: 3rem;
    font-weight: lighter;
    color: var(--white);
}

.header h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: var(--white);
}


@media screen and (max-width: 650px) {
    .header h1 {
        font-size: 4rem;
    }
}




footer {
    padding: 3rem;
    background-color: var(--third-color);
    color: var(--white);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer-text p {
    font-size: 1.6rem;
}

.social-medias {
    display: flex;
    gap: 2rem;
}

.social-medias a {
    text-decoration: none;
    color: var(--white);
}

.social-medias a i {
    font-size: 2rem;
    transition: .5s;
}

.social-medias a:hover i {
    color: var(--primary-color);
}











.gallery {
    --g: 6px; /* the gap */
    
    display: grid;
    width: 450px; /* the size */
    aspect-ratio: 1;
    grid: auto-flow 1fr/repeat(3,1fr);
    gap: var(--g);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0);
    cursor: pointer;
    transition: .5s
}

.gallery img:hover {
    filter: grayscale(1);
}

.gallery img:nth-child(2) {
    grid-area: 1/2/span 2/span 2;
    clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + var(--g)/4) 100%,0 calc(50% - var(--g)/4))
}

.gallery img:nth-child(3) {
    grid-area: 2/1/span 2/span 2;
    clip-path: polygon(0 0,calc(50% - var(--g)/4) 0,100% calc(50% + var(--g)/4),100% 100%,0 100%);
}


.federal-event {
    padding: 5rem;
}

.federal-event .container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}




.nav-bar-ham {
    width: 100%;
    position: relative;
    background-color: var(--third-color);
    display: none;
}

.nav-bar-ham.active {
    display: block;
    animation: animateMenu .5s ease;
}

.nav-bar-ham ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar-ham .header-nav {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.menu-hamb {
    width: 5rem;
    height: 5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.menu-hamb i {
    font-size: 1.6rem;
    transition: .5s;
}

.menu-hamb:hover i {
    color: var(--second-color);
}

@keyframes animateMenu {
    from {
        opacity: 0;
        top: -10rem;
    } to {
        opacity: 1;
        top: 0;
    }
}



@media screen and (max-width: 1060px){
    /* Estilizações CSS */
    .nav-bar .container {
        width: 90vw;
    }
    
    .menu-list {
        display: none;
    }

    .menu-hamb {
        display: flex;
    }
}

@media screen and (max-width: 880px) {
    footer .container {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}
